/* Style tabs, formatted from w3school*/
/*Styling the tab*/
.all {
  background-image: url("./backgrounds/book 2.jpg");
  background-size: cover;
  height: 100%;
}

#root {
  margin-right: 100px;
  margin-left: 300px;
}

.tab {
  float: left;
  background:none;
  width: 20%;
  height: 100vh;
}


.title, .subtitle{
  margin-left:70px;
}
/*style buttons in the tab*/
.tab button {
  display: block;
  /*background-color: rgb(116, 113, 108);*/
  background: none;
  color: rgb(119, 118, 112);
  padding: 10px;
  margin-bottom: 10px;
  margin: 5px;
  margin-left: 100px;
  width: 230px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/*Changes background color of the buttons on hover*/
.tab button:hover {
  color: white;
}

/*HOME STYLE SHEET*/
#welcome {
  margin-bottom: 20px;
}
#welcome button {
  background: none;
  color:white;
  font-size: 20px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: extra-expanded;
  border: 1px solid;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-bottom: 40px;

} 

#welcome button:hover {
  background-color: rgba(255, 255, 255, 0.466);
}

#progress {
  color: rgb(173, 172, 165);
}

#homescreen{
  color:white;
}

/*MUSIC STYLE SHEET*/
.music {
  margin-top: 70px;
}

.songs {
  float:left;
  position: absolute;
  margin-left: 100px;
}

.sounds{
  margin-left: 400px;
}

.sounds button {
  margin-left: 900px;
}

.songs button:hover, .sounds button:hover {
  background-color:rgba(255, 255, 255, 0.322);
}

#audioPlayer {
  margin-left: 290px;
  background: none;
  margin-top: 20px;
  background-color: none;
  margin-bottom: 50px;
}
.music button {
  color:white;
  font-size: 15px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: extra-expanded;
  border: 1px solid;
  border-radius: 5px;
  background: none;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 30px;
  display: block;
} 


/*LIST STYLE SHEET*/
#list {
  font-family: "copperplate", sans-serif;
  min-height: 100vh;
  margin-left: 100px;
  color: white;
}

.notCompleted, .completed {
  font-size: 20px;
  margin-bottom: 40px;
}

.userInput{
  border: none;
  background: none;
  border-bottom: solid white;
  width: 500px;
  font-size:20px;
  margin-top: 50px;
  color: white;
}

.userInput::placeholder{
  color: rgb(94, 94, 94);
}

.userInput:focus, input:focus, #test:focus{
  outline:none;
}

.notCompleted .task{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.completed .task{
  background-color: rgba(110, 90, 90, 0.562);
  padding: 15px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.452);
  text-decoration: line-through;
  margin-bottom:10px;
}

#test {
  background: none;
  border:none;
  color: white;
  text-decoration: bold;
  font-size: 50px;
}

